.container-homepage {
  display: flex;
  height: auto;
  width: 100%;
  justify-content: center;
}

.container-homepage > form {
  display: flex;
  flex-direction: column;
  height: 90vh;
  align-items: center;
  justify-content: center;
}

.pos-rel {
  position: relative;
}

.search-bar {
  font-size: 2em;
  height: 1.75em;
  width: 20em;
  padding: .5em;
  border: none;
  border-radius: 1em;
  background-color: rgba(0, 0, 0, 0.7);
  color: var(--text-color);
  position: relative;
}

.search-bar:focus {
  box-shadow: 0 0 0 2pt rgb(134, 134, 134);
  outline: none;
}

.auto-container {
  position: absolute;
  height: 15em;
  width: 15em;
  color: rgb(221, 221, 221);
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: .4em;
  font-size: 1.5em;
  overflow: scroll;
  overflow-x: hidden;
}

.option {
  display: flex;
  height: 2em;
  width: inherit;
  border-radius: .4em;
  padding-left: .5em;
  align-items: center;
}

.option > p {
  margin: 0;
}

.submit-button {
  background: none;
  border: none;
  position: absolute;
  right: .8em;
  top: .5em;
}

.submit-button:hover {
  cursor: pointer;
}

.option:hover,
.option:focus-within {
  background-color: rgba(0, 0, 0, 0.3);
}

.auto-container::-webkit-scrollbar {
  width: .45em;
  background: none;
}

.auto-container::-webkit-scrollbar-thumb {
  background: rgb(134, 134, 134);
  border-radius: .5em;
}

@media only screen and (max-width: 800px) {
  .search-bar {
    width: 10em
  }
}